# Introduction to Python

Python is an interpreter language

## 1. Basics of Python

In [ ]:
# Print Statement
print("Hello World")

# Print enters a newline after the string printed
print("Hello")
print("World")

Hello World
Hello
World
Hello World

#### Comment
Comment can be used for documentation or explanation of code. Multiline comment is not supported though in python but multiline strings are used in that case.

In [ ]:
# This a comment

In [ ]:
'''
This is a multi
line comment
'''

'\nThis is a multi\nline comment\n'

### Arithmetic Operators

Python supports 7 arithmetic operations
- +(additon)
- -(Subtraction)
- *(Multiplication)
- /(Division)
- //(Integer Division)
-  %(Modulus)
- **(Exponential)

In [ ]:
# Addition
print( 5 + 6)

# Subtraction
print( 10 - 7)

# Multiplication
print( 6 * 7)

# Division
print( 35 / 9)

# Integer Division
print ( 35 // 9)

# Modulus
print( 35 % 9)

# Exponential
print( 5 ** 8)

11
3
42
3.888888888888889
3
8
390625

### Relational Operators
There are 6 relational operators
- == (Equal)
- != (Not equal)
- \> (Greater than)
- \< (Less than 	x < y)
- \>= (Greater than or equal to)
- <= 	(Less than or equal to)

In [ ]:
# greater than
print(45 > 34)

# less than
print(45 < 34)

# equal
print(45 == 34)

# not equal
print(45 != 34)

# less than or equal to
print(45 <= 34)

# greater than or equal to
print(45 >= 34)

True
False
False
True
False
True

## Variables and DataTypes

In [ ]:
# Assignment
a = 12
b = 65
c = a * b
print( a * b)
print(c)

780
780

### Variable naming rules
Variable names flow almost same set of rules like most other programming languages

1.    A variable name must start with a letter or the underscore character
2.    A variable name cannot start with a number
3.    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4.    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
adl_123= 123
print( adl_123)

123

### Data types
- Text Type: 	str
- Numeric Types: 	int, float, complex
- Sequence Types: 	list, tuple, range
- Mapping Type: 	dict
- Set Types: 	set, frozenset
- Boolean Type: 	bool
- Binary Types: 	bytes, bytearray, memoryview

[Note: Python supports auto-typecasting and doesn't imply user to provide data type of variable during declaration. Type of any variable can be checked using type(). ]

In [ ]:
x = 5
print(type(x))
x = "Hello World"
print(type(x))
x = 20
print(type(x))
x = 20.5
print(type(x))
x = 1j
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
x = range(6)
print(type(x))
x = {"name" : "John", "age" : 36}
print(type(x))
x = {"apple", "banana", "cherry"}
print(type(x))
x = frozenset({"apple", "banana", "cherry"})
print(type(x))
x = True
print(type(x))
x = b"Hello"
print(type(x))
x = bytearray(5)
print(type(x))
x = memoryview(bytes(5))
print(type(x))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

### Conditional Statements
Simply these are if, if-else and if-elif-else or combination of if-many elif-else

In [ ]:
x=4

if x%2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
y=90

if y>90 :
    print("Grade A")
elif y>60 :
    print("Grade B")
else:
    print("Grade F")

Grade B

### Looping Conditions

In [ ]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
i = 10
s = 0
while i!=0:
  s = s + i
  i = i - 1
print(s)

55

## 2. List and Functions

### Functions
Functions can be either built-in or user-defined.

We define user defined function with the help of def keyword

```
def function_name(params=default_value(optional)):
  function_definition
```

In [ ]:
# Finding the square of n
def square(i):
  return i*i

print(square(5))

25

In [ ]:
#This function will greet you if you pass a name
def greet(username,n):
  return ("Hello "+ username +" Nice to have you abroad"),("You are the " +str(n)+"th customer")


greet("Palspal",5)

('Hello Palspal Nice to have you abroad', 'You are the 5th customer')

In [ ]:
# function with multiple return
elist = [10,50,30,12,6,8,100]
def efunc(b):
    highest = max(b)
    lowest = min(b)
    first = b[0]
    last = b[-1]
    return highest,lowest,first,last

efunc(elist)

(100, 6, 10, 100)

### Implicit arguments
When an argument of a function is common in majority of the cases or it is "implicit" this concept is used.

In [ ]:
def leap(a, c=4):
  z=a%c
  if(z==0):
    print("Leap year")
  else:
    print("Not a leap year")

leap(1980)
leap(2100,400)

Leap year
Not a leap year

## Lists
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [ ]:
list_a = []
print (type(list_a))

<class 'list'>

In [ ]:
# Let's define some list for the following illustrations

num_list = [12, 65, 74, 82, 32.6, 71.4, 673.14]
names_list=['palspal','anitesh','rajueatskaju','shatadru','ucalyptus']
math_constant_list = [ 2.71828, 3.1415926535, 1.32471, 3.3598856662]

### **Indexing**
In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [ ]:
names_list[0]

'palspal'

in Python, if you are stating indexing from negative numbers, it will traverse through the back of the list.

```
 x[0] = x[-4]
 x[1] = x[-3]
 ```

 This concept can be extended towards lists with more many elements.

In [ ]:
names_list[-1]

'ucalyptus'

In [ ]:
names_list[-3]

'rajueatskaju'

We can merge two list into one to create a 2D list

In [ ]:
merged_list=[num_list,math_constant_list]
merged_list

[[12, 65, 74, 82, 32.6, 71.4, 673.14],
 [2.71828, 3.1415926535, 1.32471, 3.3598856662]]

In [ ]:
merged_list[0][2]

74

In [ ]:
merged_list[1][-1]

3.3598856662

Indexing limited us to accessing a single element at a time.
 Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

### **Slicing**
It is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [ ]:
merged_list[0][0:3]

[12, 65, 74]

In [ ]:
names_list[1:3]

['anitesh', 'rajueatskaju']

In [ ]:
names_list[:3]

['palspal', 'anitesh', 'rajueatskaju']

In [ ]:
names_list[3:]

['shatadru', 'ucalyptus']

In [ ]:
names_list[7] # Index error

IndexError: ignored

In [ ]:
numbers = [i for i in range(25)]
numbers[3:9:2]

[3, 5, 7]

Python sequence slice addresses can be written as a[start:end:step] and any of start, stop or end can be dropped. a[: : i] is every i'th element of the sequence.

There are two ways of generating list from range :-

- using list() typecasting
- using shorter notation

In [ ]:
list(range(10)[::2])

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10)] # generating list from range function

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
y = [1,2,3,4,5,6]
y[-3::2]
#This means starting from the 3th element from the end, which is number 4, and counting backwards by 2 (skipping 1) until the beginning of the array is reached.

[4, 6]

In [ ]:
y[::-1]

[6, 5, 4, 3, 2, 1]

### List Methods
The methods of list are

- append()

- extend()

- index()

- insert()

- pop()

**append(a)** is used to append element a at the end of list.

In [ ]:
#use of append
lst = [1,1,4,8,7]
lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

#### Joining two lists

**extend(lst)** is used to to nest one list lst into given list.

In [ ]:
lst1 = [1,1,4,8,7]
lst2=[2,5,6,7]
lst1.extend(lst2)
lst1

[1, 1, 4, 8, 7, 2, 5, 6, 7]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

**index(i)** is used to find the index value of a particular element i. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [ ]:
lst.index(4)

2

**insert(a,b)** is used to insert a element y at a specified index value x. append( ) function made it only possible to insert at the end.

In [ ]:
lst.insert(4,'asus')
print(lst)

[1, 1, 4, 8, 'asus', 7, 1]

**remove()** is used to delete elements from list

In [ ]:
lst.remove('asus')
print(lst)

[1, 1, 4, 8, 7, 1]

**pop( )** removes the specified index, (or the last item if index is not specified). This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [ ]:
lst.pop(2)

4

**del** keyword removes the specified index. It is also used to list completely.

In [ ]:
del lst[3]
lst

[1, 1, 8, 1]

In [ ]:
del lst1
lst1 # Gets error list not defined

NameError: ignored

**reverse()** is used to reverse a list

In [ ]:
lst.reverse()
print(lst)

[1, 8, 1, 1]

**sort()** is used to sort a list in ascending order otherwise if reverse=True then descending

In [ ]:
lst.sort()
print(lst)

[1, 1, 1, 8]

In [ ]:
lst.sort(reverse=True)
print(lst)

[8, 1, 1, 1]

In [ ]:
#for a string list we will use key condiiton again
names_list.sort(key=len,reverse=True)
print(names_list)

['rajueatskaju', 'ucalyptus', 'shatadru', 'palspal', 'anitesh']

#### Copying a list

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Clearing a list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Traversing a list

In [ ]:
for i in math_constant_list:
  print(i)

2.71828
3.1415926535
1.32471
3.3598856662

In [ ]:
for i in range(len(math_constant_list)):
  print(math_constant_list[i])

2.71828
3.1415926535
1.32471
3.3598856662

**count()** is used to count the no of elements i is present in list

In [ ]:
lst.count(1)

3

### Tuples
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
c=(1,3,17,8)
pete=('tensorflow','pytorch','Cuda','Cafe')

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed.

In [ ]:
pete[1]

'pytorch'

In [ ]:
pete[1]='asus' #

TypeError: ignored

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [ ]:
11,

(11,)

In [ ]:
2*(11,)

(11, 11)

In [ ]:
thr=tuple(numbers)# making a tuple
thr2=tuple('No Newyears day')

In [ ]:
thr

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24)

In [ ]:
thr2

('N', 'o', ' ', 'N', 'e', 'w', 'y', 'e', 'a', 'r', 's', ' ', 'd', 'a', 'y')

In [ ]:
thr2.count('e')

2

# Dictionaries

 A Python dictionary is a mapping of unique keys to values. Dictionaries are mutable, which means they can be changed. A dictionary maps a set of objects (keys) to another set of objects (values).

In [ ]:
D0={}
D1= dict()
print(type(D0),type(D1))

<class 'dict'> <class 'dict'>

In [ ]:
#Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

D0['One'] = 1
D0['OneTwo'] = 12
print (D0)

{'One': 1, 'OneTwo': 12}

In [ ]:
#That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'
print (D0['One'])
1
#Two lists which are related can be merged to form a dictionary.
#zip( ) function is used to combine two lists
numbers=[1,2,3,4,5,6,7,8]
lst1=['a','b','c','d','e','f','g','h']
D2 = zip(lst1,numbers)
print(list(D2))

1
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7), ('h', 8)]

In [ ]:
#Creating a dictionary

marks={'history':45,'Geography':54,'Hindi':56}

print(marks)

# access elements

print(marks['Geography'])

#adding elements

marks['english']=47

print(marks)

# Update keys
marks.update({'Chemistry':89,'Physics':98})

print(marks)

del marks['Hindi']

print(marks)

{'history': 45, 'Geography': 54, 'Hindi': 56}
54
{'history': 45, 'Geography': 54, 'Hindi': 56, 'english': 47}
{'history': 45, 'Geography': 54, 'Hindi': 56, 'english': 47, 'Chemistry': 89, 'Physics': 98}
{'history': 45, 'Geography': 54, 'english': 47, 'Chemistry': 89, 'Physics': 98}

## Packages and Classes

Creating packages and classes in Python is an important feature that makes it an object oriented programming language. It gives modularity and dynamicity.

### Packages
A package is a folder that contains other smaller programs or submodules.

#### Importing packages
Packages should be always be imported first in the program. The package is imported using *import* keyword

`import package_name`

In [1]:
# Importing package
import time

print(time.time())

1701062639.130499